// bower:scss
// endbower

@import url('https://fonts.googleapis.com/css?family=Exo+2');

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  outline: none;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: rgb(222, 237, 237);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

button {
  background-color: transparent;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.player-container {
  // Box Model
  width: 100%;
  height: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player {
  // Box Model
  width: 420px;
  border-radius: 5px;
  overflow: hidden;

  // Typo
  font-family: 'Exo 2', sans-serif;
  color: rgb(158, 158, 158);

}

.btn-icon {
  // Box Model
  height: 20px;
  width:20px;
  border: none;

  // Visual
  cursor: pointer;
}

.player-body {
  // Visual
  // background-color: rgb(25, 201, 181);
}

.player-top-icons {
  // Box Model
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  .btn-icon {
    background-repeat: no-repeat;
    background-size: 20px auto;
  }
}

.btn-sound {
  // Visual
  background-image: url('/icons/speaker.png');

  &.is-muted {
    background-image: url('/icons/mute.png');
  }
}

.btn-volume {
  // Visual
  background-image: url('/icons/system-controller.png');
}

.player-bottom {
  // Box Model
  padding: 100px 0 10px 0;
}

.player-music-buttons {
  // Typo
  text-align: center;
}

.btn-action {
  // Position
  margin: 0 10px;

  // Box Model
  height: 30px;
  width: 30px;

  // Visual
  cursor: pointer;
}

.btn-press {
  transition: all .5s ease-out;
  transform: scale(1);
  transform: scale3d(1, 1, 1);

  &:active {
    // Visual
    transform: scale(0.5);
    transform: scale3d(0.5, 0.5, 0.5);
  }
}

.btn-backward {
  // Visual
  background-image: url('/icons/backward-icon.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.btn-play {
  // Visual
  background-image: url('/icons/play-button.png');
  background-repeat: no-repeat;
  background-size: contain;
  transition: all .1s ease-out;

  &.is-paused {
    background-image: url('/icons/pause.png');
  }
}

.btn-forward {
  // Visual
  background-image: url('/icons/fast-forward-icon.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.player-bar {
  // Box Model
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-time {
  // Position
  float: left;

  // Typo
  font-size: 14px;
  color: #FFF;
}

.player-progress-bar {
  // Position
  position: relative;
  float: left;

  // Box Model
  height: 6px;
  width: 70%;
  border-radius: 5px;

  // Visual
  background-color: rgb(204, 204, 204);
}

.player-progress {
  // Box Model
  display: block;
  width: 70%;
  height: 100%;
  border-radius: 5px;

  // Visual
  background-color: #FFF;
}

.player-bar-buttons {
  // Position
  float: left;
  align-items: center;

  // Box Model
  display: flex;
  justify-content: space-between;
}

.btn-shuffle {
  // Position
  position: relative;

  // Visual
  background-image: url('/icons/shuffle-button.png');
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.3s;

  &:after {
    // Position
    position: absolute;
    bottom: -8px;
    left: 50%;

    // Box Model
    border-radius: 50%;
    width: 5px;
    margin-left: -2.5px;
    height: 5px;

    // Visual
    background-color: transparent;
    content: '';
    transition: all 0.3s;
    pointer-events: none;
  }

  &.is-shuffled {
    &:after {
      background-color: #FFF;
    }
  }
}

.btn-loop {
  // Position
  position: relative;

  // Box Model
  margin-left: 5px;

  // Visual
  background-image: url('/icons/repeat.png');
  background-repeat: no-repeat;
  background-size: contain;

  &:after {
    // Position
    position: absolute;
    bottom: -8px;
    left: 50%;

    // Box Model
    border-radius: 50%;
    width: 5px;
    margin-left: -2.5px;
    height: 5px;

    // Visual
    background-color: transparent;
    content: '';
    transition: all 0.3s;
    pointer-events: none;
  }

  &.is-looped {

    &:after {
      background-color: #FFF;
    }
  }
}

.player-footer {
  // Box Model
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // Visual
  background-color: white;
}

.player-info {
  // Typo
  line-height: 25px;
}

.player-title {
  // Typo
  font-size: 18px;
}

.player-artist {
  // Typo
  font-size: 14px;
}

.player-social-icons {
}

.btn-heart {
  // Visual
  background-image: url('/icons/heart.png');
  background-repeat: no-repeat;
  background-size: contain;

  &.is-hearted {
    // Visual
    background-image: url('/icons/like.png');
  }
}

.btn-share {
  // Position
  margin-left: 10px;

  // Visual
  background-image: url('/icons/share.png');
  background-repeat: no-repeat;
  background-size: contain;
}
