// bower:scss
// endbower

@import url('https://fonts.googleapis.com/css?family=Exo+2');

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  outline: none;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: rgb(222, 237, 237);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

button {
  background-color: transparent;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.player-container {
  // Box Model
  width: 100%;
  height: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player {
  // Box Model
  width: 420px;
  border-radius: 5px;
  overflow: hidden;

  // Typo
  font-family: 'Exo 2', sans-serif;
  color: rgb(158, 158, 158);

}

.btn-icon {
  // Box Model
  height: 20px;
  width:20px;
  border: none;

  // Visual
  cursor: pointer;
}

.player-body {
  // Visual
  background-color: rgb(25, 201, 181);
}

.player-top-icons {
  // Box Model
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  .btn-icon {
    background-repeat: no-repeat;
    background-size: 20px auto;
  }
}

.btn-sound {
  // Visual
  background-image: url('/icons/speaker.png');
}

.btn-volume {
  // Visual
  background-image: url('/icons/system-controller.png');
}

.player-bottom {
  // Box Model
  padding: 100px 0 10px 0;
}

.player-music-buttons {
  // Typo
  text-align: center;
}

.btn-action {
  // Position
  margin: 0 10px;

  // Box Model
  height: 30px;
  width: 30px;

  // Visual
  cursor: pointer;
}

.btn-backward {
  // Visual
  background: url('/icons/fast-forward-icon.png') no-repeat;
  background-size: contain;
  transform: rotate(180deg);
}

.btn-play {
  // Visual
  background: url('/icons/play-button.png') no-repeat;
  background-size: contain;
}

.btn-forward {
  // Visual
  background: url('/icons/fast-forward-icon.png') no-repeat;
  background-size: contain;
}

.player-bar {
  // Box Model
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-time {
  // Position
  float: left;

  // Typo
  font-size: 14px;
  color: #FFF;
}

.player-progress-bar {
  // Position
  position: relative;
  float: left;

  // Box Model
  height: 6px;
  width: 70%;
  border-radius: 5px;

  // Visual
  background-color: rgb(173, 245, 234);
}

.player-progress {
  // Box Model
  display: block;
  width: 70%;
  height: 100%;
  border-radius: 5px;

  // Visual
  background-color: #FFF;
}

.player-bar-buttons {
  // Position
  float: left;
  align-items: center;

  // Box Model
  display: flex;
  justify-content: space-between;
}

.btn-shuffle {
  // Visual
  background: url('/icons/shuffle-button.png') no-repeat;
  background-size: contain;
}

.btn-loop {
  // Position
  margin-left: 5px;

  // Visual
  background: url('/icons/repeat.png') no-repeat;
  background-size: contain;
}

.player-footer {
  // Box Model
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // Visual
  background-color: white;
}

.player-info {
  // Typo
  line-height: 25px;
}

.player-title {
  // Typo
  font-size: 18px;
}

.player-artist {
  // Typo
  font-size: 14px;
}

.player-social-icons {
}

.btn-heart {
  // Visual
  background: url('/icons/heart.png') no-repeat;
  background-size: contain;
}

.btn-share {
  // Position
  margin-left: 10px;

  // Visual
  background: url('/icons/share.png') no-repeat;
  background-size: contain;
}
